DB_NAME=polyu_sig_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
SIG_SEARCH_ENABLED=true
ES_REPO_ENABLED=true
SOFFICE_PATH=soffice

OAUTH_CLIENT_ID=sig-client
OAUTH_CLIENT_SECRET=sig-secret
OAUTH_AUTH_URI=http://localhost:9000/oauth2/authorize
OAUTH_TOKEN_URI=http://localhost:9000/oauth2/token
OAUTH_USERINFO_URI=http://localhost:9000/userinfo
OAUTH_JWK_URI=http://localhost:9000/oauth2/jwks
OAUTH_USER_NAME_ATTRIBUTE=sub

CLOUDFLARE_TUNNEL_TOKEN=replace_me
